* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

:root {
    /* theme colors */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: rgba(255, 255, 255, 0.8);
    --blue: #104f55;
    --yellowish:  rgb(255, 255, 225);

    /* gradient colors */
     --blueish: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%); 
}


/* -------------- global classes -------------- */

a {
    text-decoration: none;
    color: var(--text-gray)
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.2rem;
    padding: 1rem;
}

.container {
    margin: 0 5vw; 
}


.text-gray {
    color: var(--text-gray)
}
/* ------x-------- global classes --------x------ */

/* -------------- navbar -------------- */

.nav {
    background: var(--yellowish);
    padding: 0 2rem;
    height: 3rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.nav-menu {
    justify-content: space-between;
}

.toggle-collapse {
    position: absolute;
    width: 90%;
    top: 0%;
    cursor: pointer;
    display: none;
}

.toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.6rem 1rem;
}

.toggle-icons i {
    font-size: 1.5rem;
    color: var(--text-gray);
}

.collapse {
    height: 100vh;
}

.nav .nav-links-container .flex-row{
    align-items: center;
    justify-content: center;
}

.nav .flex-row {
    align-items: center;
}

.nav-link {
    padding: 0.7rem;
    margin: 0.5rem;
    font-size: 1.1rem;
    position: relative;
}

.nav-link:hover {
    background-color: var(--blue);
}
.nav-link:hover a {
    color: var(--white);
}

.nav-brand a {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-social {
    padding: 1.5rem 0;
}

.nav-social-link {
    padding: 0 0.4rem; 
}

.nav-social-link:hover {
    color: #a1c4cf;
}

/* ------x-------- navbar --------x------ */


/* --------------- Main contennt ------------------------*/
/* --------------- Site title ------------------------*/

.site-title {
    background: url('../assets/images/typewriter.jpg');
    margin-top: 10vh;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-background {
    padding-top: 12rem;
    text-align: center;
    color: white;
}

.site-title h1, h3 {
    margin: 0.4rem;
    padding: 0.4rem 0;
    color: white;
}

.btn {
    margin: 1.8rem;
    background: var(--blueish);
    padding: 1.2rem 5rem;
    border-radius: 40px;
    border: none;
    color: var(--blue);
    font-size: 1.4rem;
    opacity: 0.9;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: var(--blue);
    color: var(--white);
    transform: scale(1.1);
   
}
/* -------x-------- Site title ---------------x---------*/

/* ---------------- Blog Carousel -------------------*/
.blog {
    /* background: url(../assets/images/abstract.jpg); */
    background-color: white;
    /* background-repeat: no-repeat; */
    height: 80vh;
    width: 100%;
}

.blog-posts {
    padding-top: 7rem;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0, 0.2);
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    margin: 2rem;
    box-shadow: 10px 10px 8px #888888;
    transition: all 0.2s ease-in-out;
}

.blog-content:hover {
    transform: scale(1.1);
}

.owl-carousel .owl-item img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.blog-title {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;;
}

.blog-title h3{
    color: var(--blue);
    font-size: 1.5rem;
}

.blog-content span {
    display: block;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 0%;
    margin: 2rem auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev, 
.owl-nav .owl-next .owl-nav-next {
    color: var(--blue);
    background-color: transparent;
    font-size: 1.5rem;
}

.owl-theme .owl-nav [class*="owl-"] {
    outline: none;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    color: white;
    background-color: var(--blue);
    border: none;
}



/* ------x---------- Blog Carousel ----------x---------*/

/* ------------------ Site Content --------------------*/
main .site-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content {
    width: 100%;
    /* margin: 2rem; */
}

div .posts {
    margin: 2rem;
}

.post-image .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.post-image img {
    width: 75%;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.post-image img:hover {
    transform: scale(1.1);
}

.post-image,
.post-title {
    padding: 1rem 2rem;
    position: relative;
}

.post-info {
    background: var(--blueish);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 22vw;
    border-radius: 3rem;
}

.post-title a {
    font-size: 1.7rem;
    color: var(--blue);
}

.post-title p {
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: justify;
}

.post-btn {
    padding: 1rem 3rem;
    margin-left: 0;
}

/* --------------- Sidebar -------------------*/

aside .sidebar {
    width: 100%;
    margin: 2rem;
}

.sidebar .sidebar-title {
    font-size: 2rem;
    margin: 2rem 0;
}

.category-list {
    padding-left: 1.5rem;
}

.category-list .list-item {
    background: var(--blueish);
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
    border-radius: 3rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.category-list .list-item a {
    color: black;
    font-weight: bold;
}

.popular-posts {
    padding-top: 3rem;
}

aside .sidebar .popular-posts .post-content {
    padding: 1rem 0;
}

.popular-posts .post-content .post-title a {
    font-size: 1.1rem;
}

.newsletter {
    padding-top: 3rem;
}

.form-element .input-element {
    width: 60%;
    height: 2.2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.7rem 2rem;
    font-size: 1rem;
}

.newsletter .form-element .btn {
    width: 60%;
    border-radius: 0;
    padding: 0.7rem 1.5rem;
    margin: 0.2rem 1rem;
}

.popular-tags {
    padding-top: 2rem;
    width: 80%;
}

.popular-tags .tags {
    padding-top: 0.7rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular-tags .tags .tag {
    background: var(--blueish);
    padding: 0.5rem 1rem;
    margin: 0.2rem 0.4rem;
    border-radius: 2rem;
}

/* ---------x------ Sidebar ----------x---------*/
/* -------x----------- Site Content ----------x----------*/
/* ------x--------- Main contennt --------------x----------*/

/* ----------------- Footer ---------------------*/

.footer {
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    color: white;
    position: relative;
    padding: 2rem;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.footer .container > div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem 1rem;
}

.footer .about-us p,
.footer .newsletter-footer p {
    padding-top: 1rem;
    text-align: justify;
}

.footer .about-us p{
    width: 80%;
}

footer.footer .container .newsletter-footer .input-element {
    margin-left: 0;
}

.footer .newsletter-footer .form-element span {
    background:#50A7C2;
    padding: 0.5rem;
    cursor: pointer;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-links div {
    padding-top: 1rem;
}

.footer .social-links a {
    color: white;
}

.footer .social-links span {
    color: white;
}

footer .flex-row {
    justify-content: center;
}

footer .go-up {
    position: absolute;
    top: 50%;
    right: 15%;
    cursor: pointer;
}

/* --------x--------- Footer ------------x---------*/

/*         viewport less or equal to 1300px      */
@media only screen and (max-width: 1300px){
    .site-content .posts .post-content .post-image .post-info {
        left: 2rem;
        bottom: 1rem;
        border-radius: 0;
    }
}
/*    x     viewport less or equal to 1300px    x  */


/*         viewport less or equal to 960px      */
@media only screen and (max-width: 960px) {

    .nav, .nav-menu, .nav-items {
        flex-direction: column;
    }

    .toggle-collapse {
        display: initial;
    }
    
    .blog-content img {
        width: 150px;
        height: 170px;
        overflow: hidden;
    }

    .footer .container {
        grid-template-columns: 1fr;
    }
}
/*     x   viewport less or equal to 960px       x     */


/*         viewport less or equal to 750px            */
@media only screen and (max-width: 750px) {
    main .site-content {
        grid-template-columns: 100%;
    }
}
/*    x     viewport less or equal to 750px    x     */

@media only screen and (max-width: 520px) {
    footer .go-up {
        top: 85%;
    }
}

/*         viewport less or equal to 320px            */
@media only screen and (max-width: 320px) {
    footer .go-up {
        top: 75%;
    }
}
/*   x      viewport less or equal to 320px      x     */




